@media (max-width: 576px) {
    .why-grid {
        display: grid;
        height: 1083px;
        width: 90%;
        margin: 0 auto;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "audio"
            "mobile"
            "global "
            "exclusive"
            "rich"
        ;
    }
}