.header-bg {
    background-image: url(../photos/images/hero-bg.png);
}

.color-green {
    color: #00FF88;
}

.border-green {
    background: #00FF88;
}

.why {
    background-color: #230E3D;
}

.audio {
    grid-area: audio;

}

.mobile {
    grid-area: mobile;

}

.global {
    grid-area: global;

}

.exclusive {
    grid-area: exclusive;

}

.rich {

    grid-area: rich;

}

.audio,
.rich,
.mobile,
.global,
.exclusive {
    background: #351165;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    width: 90%;

}

.why-grid {
    display: grid;
    height: 1083px;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "audio audio audio mobile mobile mobile mobile mobile"
        "audio audio audio mobile mobile mobile mobile mobile"
        "audio audio audio global global global global global "
        "audio audio audio global global global global global "
        "exclusive exclusive exclusive exclusive exclusive rich rich rich"
        "exclusive exclusive exclusive exclusive exclusive rich rich rich"
        "exclusive exclusive exclusive exclusive exclusive rich rich rich"
    ;
}
@media (max-width: 576px) {
    .why-grid {
        display: grid;
        height: 1409px;
        width: 90%;
        margin: 0 auto;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas:
            "audio"
            "mobile"
            "global "
            "exclusive"
            "rich"
        ;
    }
}
.Featured {
    background: #1A0B2E;
}

.grid-frames {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.fame {
    background: #351165;
    border-radius: 30px;
}

.iframe-border {

    border-radius: 30px 30px 0px 0px;
}

iframe {
    width: 100%;

}

.host {
    width: 100%;
    height: 280px;
    background: #351165;

}
.pb{
    height:150px;
    width: 100%;
}
footer{
    background-image: url(../photos/images/footer-bg.png);
}